<!DOCTYPE html>
<html>
<head>
    <title>Create Account</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style.css'%}" media="screen" type="text/css" />
</head>

<body>

  <div class="container">
  <div id="login-form">
      <h1> add a task.</h1>
      <p></p>
      <form>
          <form action="action_page.php">
          <input type="text" placeholder="task" ></input><p></p>
         date due:<p></p>
          <input type="date" placeholder ="mm/dd/yyy"></input>  
          <button><a href="create.html" style="text-decoration:none"><font color="#ffffff">submit</font></a></button>

      </form>
    </div>
</div>

</body>
</html>