<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style.css'%}" media="screen" type="text/css" />
</head>

<body>
      
  <div class="container">
  <div id="login-form">
      <h1> hello.</h1>
      login to access to-do list.</a><p>
      <section>

      <form id = "login_form" method="POST" action="/home/">
          {% csrf_token %}
          <input type="text" name="username" placeholder="username" size = "30"></input><p></p>
          <input type="password" name="password" placeholder="password"  size = "30"></input>
          <button><a href="/report" style="text-decoration:none"><font color="#ffffff">login</font></a></button>
      </form></section>
    </div>
</div>

</body>
</html>
