<!DOCTYPE html>
<html>
<head>
    <title>To-Do List</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style.css' %}" media="screen" type="text/css" />
</head>

<body>
    <div class="container">
    <div id="login-form">
        <p></p>
        <h1> welcome, {{ user.get_username }} </h1>
        below are your current tasks:  <p></p>
        {% for todo_list in todo_listing %}
        <form action = '' method ="POST">
        {% csrf_token %}
          <li>{{ list_dict.list_object.title }}</li> 
          <b> {{item.title}}</b>
        {% endfor %}  
        <p></p><form>
          <form action="action_page.php">
          <input type="text" placeholder="+ add task" style="background-color: transparent"></input><p></p>
          <button><a href="/logout" style="text-decoration:none"><font color="#ffffff">logout</font></a></button>
        </form>        
    </div>
    </div>
    
</body>  
</html>
